.header {
  position: relative;

  &--border {
    &::before {
      content: "";
      border-bottom: 1px solid #DDDDDD;
      position: absolute;
      width: 100%;
      bottom: 60%;
      left: 0;
    }

    &::after {
      content: "";
      border-bottom: 1px solid #DDDDDD;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    cursor: pointer;
    z-index: 3;
  }

  &__burger {
    z-index: 3;
  }

  &__list {
    display: none;
  }

  &__left {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 0;


  }

  &__elements {
    display: flex;

    & > svg {
      cursor: pointer;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__mobile-list {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    background-color: var(--main-bg-gray);
    margin-top: 42px;
    padding-top: 65px;

    & li {
      margin-bottom: 50px;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-min($sm) {
    &--border {
      &::before {
        bottom: 45%;
      }
    }

    &__logo {
      flex-basis: auto;
      justify-content: flex-start;


    }

    &__list {
      display: flex;
      order: 3;
      flex-basis: 100%;
      justify-content: space-between;
      position: relative;
      padding: 17px 0;
      font-size: 20px;
      align-items: center;

      & > li {
        cursor: pointer;
      }



    }

    &__left {
      flex-basis: auto;
      justify-content: flex-end;


    }

    &__burger {
      display: none;
    }

    &__mobile-list {
      display: none;
    }
  }



  @include media-min($lg) {
    &--border {
      &::before {
        border: none;
      }
    }

    &__wrapper {
      flex-wrap: nowrap;
      padding: 30px 0;
      position: relative;


    }

    &__logo {
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
    }

    &__list {
      order: 0;
      flex-basis: auto;
      flex-shrink: 0;
      padding: 0;

      & > li {
        margin-right: 60px;
      }


    }

    &__left {
      flex-shrink: 0;
      padding: 0;
    }

  }
}