.header {
  &_search {}

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px 0;
    cursor: pointer;

    &::after {
      content: "";
      border-bottom: 1px solid #DDDDDD;
      position: absolute;
      width: 150vw;
      bottom: 0;
      left: -50vw;
    }
  }

  &__burger {}

  &__list {
    display: none;
  }

  &__left {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 0;

    &::after {
      content: "";
      border-bottom: 1px solid #DDDDDD;
      position: absolute;
      width: 150vw;
      bottom: 0;
      left: -50vw;
    }
  }

  &__elements {

    & > svg {
      cursor: pointer;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }


  }

  @include media-min($sm) {

    &__logo {
      flex-basis: auto;
      justify-content: flex-start;

      &::after {
        border-bottom: none;
      }
    }

    &__list {
      display: flex;
      order: 3;
      flex-basis: 100%;
      justify-content: space-between;
      position: relative;
      padding: 17px 0;
      font-size: 20px;

      & > li {
        cursor: pointer;
      }

      &::before {
        content: "";
        border-top: 1px solid #DDDDDD;
        position: absolute;
        width: 150vw;
        top: 0;
        left: -50vw;
      }

      &::after {
        content: "";
        border-bottom: 1px solid #DDDDDD;
        position: absolute;
        width: 150vw;
        bottom: -1px;
        left: -50vw;
      }

    }

    &__left {
      flex-basis: auto;
      justify-content: flex-end;

      &::after {
        border-bottom: none;
      }
    }

    &__burger {
      display: none;
    }
  }



  @include media-min($lg) {
    &__wrapper {
      flex-wrap: nowrap;
      padding: 30px 0;
      position: relative;

      &::after {
        content: "";
        border-bottom: 1px solid #DDDDDD;
        position: absolute;
        width: 150vw;
        bottom: 0;
        left: -50vw;
      }
    }

    &__logo {
      flex-grow: 1;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
    }

    &__list {
      order: 0;
      flex-basis: auto;
      flex-shrink: 0;
      padding: 0;

      & > li {
        margin-right: 60px;
      }

      &::before,
      &::after {
        border: none
      }
    }

    &__left {
      flex-shrink: 0;
      padding: 0;
    }

  }
}