.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  @include visually-hidden;
}

#site-top {
  position: absolute;
  top: 0;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.is-block-scroll {
  overflow: hidden;

  @include media-min ($xl) {
    overflow: unset;
  }
}

.indent-reset {
  @include indent-reset;
}

.list-reset {
  @include list-reset;
}

.btn-reset {
  @include btn-reset;
}

.shaked {
  @include anim(shake, 0.6s);
}

.custom-scroll {
  @include custom-scroll;
}

.hide {
  transform: translateX(-100%);
  transition: all .5s ease;
}

.open {
  transform: translateX(0);
  transition: all .5s ease;
}

.is-open-menu {
  overflow: hidden;
}